<div class="video-box">
  <%= video_tag("/videos/bubbles.mp4", autoplay: :true, loop: :true, muted: :true, class: "video") %>
</div>
<div class="text-box">
      <div class="clear-sheet"></div>
      <h1 class="title">Todo List</h1>

      <h1 class="login-sub-title">Sign Up</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="login-email login-flex">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="login-password">
		<div class="login-password--box login-flex">
			<%= f.label :password %>
			<% if @minimum_password_length %>
			<em>(<%= @minimum_password_length %> characters minimum)</em>
			<% end %><br />
			<%= f.password_field :password, autocomplete: "new-password" %>
		</div>

		<div class="login-forget">
			<%= f.label :password_confirmation %><br />
			<%= f.password_field :password_confirmation, autocomplete: "new-password" %>
		</div>
	</div>

    <div class="registration-btn">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
</div><!-- .text-box -->

<div class="newuser-box">
<p class="newuser-text"><span>------------</span> ログインはこちら <span>------------</span></p>
	<%= render "devise/shared/links" %>
</div>