<div class="box">
  <div class="box-inner">
      <h1 class="title">Todo List</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1 class="login-sub-title">Login</h1>
      <div class="login-email flex">
        <%= f.label :email, "e-mail" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="login-password">
        <div class="login-input--text">
          <div class="login-input--area">
            <%= f.label :password, "password" %>
                <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
          <div class="login-forget">
            <%= link_to "パスワードを忘れた場合", new_user_password_path %>
          </div>
        </div>
      </div>
      <div class="login-btn">
          <div class="login-remember">
            <%= f.check_box :remember_me %>
            <%= f.label :remember, "ログインしたままにする" %>
          </div>
        <%= f.submit "ログイン" %>
        <% if devise_mapping.rememberable? %>
        <% end %>
      </div>
    <% end %>

    <div class="newuser-box">
      <p><span>------------</span> 新しいお客様ですか？ <span>------------</span></p>
      <%= link_to "アカウントを作成", new_user_registration_path %>
    </div>
  </div>
</div>