<!DOCTYPE html>
<html>
  <head>
    <title>Memo - Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
        <% if user_signed_in? %>
      <div class="header-box">
        <h1 class="top-title">Memo</h1>
        <nav>
          <ul class="header-menu">
            <li class="header-menu--list"><a href="/">Todo List</a></li>
            <li class="header-menu--list"><a href="dones">Done List</a></li>
          </ul>
        </nav>
      </div>
      <div class="user-action">
          <%= link_to 'Logout', 
            destroy_user_session_path,
            class: 'logout',
            method: :delete
          %>
      </div>
        <% end %>
    </header>

    <% if notice %>
    	<p class="notice"><%= notice %></p>
	<% end %>
	<% if alert %>
    	<p class="alert"><%= alert %></p>
	<% end %>
	
    <%= yield %>
  </body>
</html>
