<!DOCTYPE html>
<html>
  <head>
    <title>Memo - Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <h1 class="top-title">Memo</h1>
      <nav>
        <ul>
          <li><a href="/"><i class="fas fa-arrow-alt-circle-right"></i>Todo List</a></li>
          <li><a href="/done">Done List</a></li>
        </ul>
      </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
